.inputDropdown {
    width: 100% !important;
    height: 30px !important;
    font-size: 10pt !important;
    border-color: #a9a9a9;
}

.inputLabel {
    font-size: 10pt;
}

.inputDisabled {
    background-color: #fff;
    border: 0px;
}

.valueReadOnly {
    font-size: 10pt !important;
    padding-top: 5px;
}